@namespace Automato.Layouts
@inherits LayoutComponentBase

<Layout>
    <Header Class="header">
        <div class="logo" ></div>
        <span style="color: white; font-size: 22px">Automato</span>
    </Header>
    <AntDesign.Content Style="padding: 20px 50px">
       @Body
    </AntDesign.Content>
</Layout>

<style>
    #components-layout-demo-top-side .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 28px 16px 0;
        float: left;
    }

    .site-layout-background {
        background: #fff;
    }
</style>
