@page "/"
@using AutoUIShared.AutoUI
@using System.IO
@using AutomatoCore
@using Microsoft.Extensions.Options
@inject AutoEngine Engine
<button @onclick=@Engine.LoadApp1>Load App1</button>
<br/>
<br/>

<AutoUIRenderer/>


@code
{
    
}